@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display:flex;
  flex-direction:column;
  
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-top: 16px;
}
.header{
  display:flex;
  justify-content:space-between;
  padding:1em;
}
.i-flex{
  display:flex;
  gap: 20px;
}

ul{
  margin:0;
  padding:0;
  list-style-type: none;

}
.i-center{
  display:flex;
  justify-content:center;
  align-items:center;
  height:80%;

}
.content{
  display:flex;
  flex-direction:column;
  align-items:center;
}
.buttons{
  margin-top:0.5em;
}
.text-m{
  padding: 0.5em 1em;
  

}
.left-links{
  display:flex;
  gap:20px;
}
.right-links{
  display:flex;
  gap:20px;
}
.footer{
  margin-top: auto;
  display:flex;
  justify-content:space-between;
  background-color:#eee;
  padding:1em;
  
}

a{
  text-decoration:none;
  color:grey;
}