/* Add CSS Styling */
.p-font, .addition {
    font-family: "Verdana", "DejaVu Sans", sans-serif;
    background-color : #f7a5a5;

}
#even{
    color:#0000ff;
    font-size: 36px;
}
.addition{
    font-size:24px;

}
#unique{
    background-color:#80ff00;
    font-size:24px;
    font-weight:bold;

}