body {
  background: #eee;
  font-family: sans-serif;

}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  padding: 8px;
  margin:8px auto 0 auto;

}

.content {
  background: #e3f4ff;
  padding:8px;
  margin-top:8px;
}

.button-container {
  background: #e3f4ff;
  margin: 8px auto 0 auto;
  text-align: center;


}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin-left: 150px;
}